# Managed by Ansible. Change homelab_base variables instead of editing this file.
# Login shells source this file through /etc/profile. The managed administrator
# .bashrc also sources it for interactive non-login SSH shells.
case $- in
  *i*) ;;
  *) return ;;
esac

if [ -n "${BASH_VERSION:-}" ]; then
  if [ "${TERM:-dumb}" = "dumb" ]; then
    PS1='[\u@\h] \w \\$ '
  elif [ "$(id -u)" -eq 0 ]; then
    PS1='\[\033[1;31m\][\u@\h]\[\033[0m\] \w \\$ '
  else
    PS1='\[\033[1;32m\][\u@\h]\[\033[0m\] \w \\$ '
  fi
fi
