[defaults]
inventory = ./inventory/hosts.yml
roles_path = ./roles
collections_path = ./collections
local_tmp = ./.ansible/tmp
nocows = True
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
callbacks_enabled = ansible.posix.profile_tasks
timeout = 30

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
